.jumbotron {
  height: 25rem;
  width: 100%;

  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.arrow-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  width: 95%;

  color: #fff;
}

.jumbo-arrow {
  font-size: 3rem;
  cursor: pointer;
}
