.card-container {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 2em;
  width: 90%;
}

@media screen and (max-width: 1340px) {
  .card-container {
    grid-gap: 0.8em;
  }
}

@media screen and (max-width: 1280px) {
  .card-container {
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1060px) {
  .card-container {
    grid-gap: 0.8em;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .card-container {
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 0 25%;
  }
}
