.login-user-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0 0 0; }

.login-email {
  height: 3rem;
  width: 25rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem; }

.login-password {
  height: 3rem;
  width: 25rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem; }

.login-submit-button {
  background-color: #00aad5;
  height: 3rem;
  width: 25rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: #fff; }

.error-message {
  text-align: center;
  color: crimson; }
