.app {
  display: flex; }

.header-container {
  width: 14rem;
  height: 100vh;
  background: #00b4db;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083b0, #00b4db);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.main-container {
  flex: 10;
  height: 100vh;
  overflow: scroll; }
