.app {
  display: flex;
}

.header-container {
  width: 14rem;
  height: 100vh;
  background: #00b4db;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083b0, #00b4db);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container {
  flex: 10;
  height: 100vh;
  overflow: scroll;
}

.modal-trailer {
  border: none;
}

.modal {
  z-index: 1;
  position: absolute;
  top: 10rem;
  left: 25rem;
  border: 10px solid rgba(113, 137, 137, 0.5);
  overflow: auto;
  display: block;
  border-radius: 5px;
}

.remove-modal {
  position: absolute;
  right: 6rem;
  top: 0.6rem;
  cursor: pointer;
  color: red;
  background-color: #f9b6b6;
  border-radius: 5px;
}

@media screen and (max-width: 780px) {
  .header-container {
    width: 100%;
    height: 12rem;
  }
  .app {
    flex-direction: column;
  }
}
