.app {
  display: flex; }

.header-container {
  width: 14rem;
  height: 100vh;
  background: #00b4db;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083b0, #00b4db);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.main-container {
  flex: 10;
  height: 100vh;
  overflow: scroll; }

.modal-trailer {
  border: none;
  height: 500px;
  width: 50vw; }

.modal {
  z-index: 1;
  position: absolute;
  top: 10rem;
  left: 35rem;
  border: 10px solid rgba(113, 137, 137, 0.5);
  overflow: auto;
  display: block;
  border-radius: 5px; }

.remove-modal {
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  color: red;
  background-color: #f9b6b6;
  border-radius: 5px; }

@media screen and (max-width: 1550px) {
  .modal {
    position: absolute;
    top: 10rem;
    left: 25rem; }
  .modal-trailer {
    border: none;
    width: 60vw;
    height: 450px; } }

@media screen and (max-width: 1300px) {
  .modal {
    position: absolute;
    top: 10rem;
    left: 20rem; }
  .modal-trailer {
    border: none;
    width: 60vw;
    height: 400px; } }

@media screen and (max-width: 1050px) {
  .modal {
    position: absolute;
    top: 13rem;
    left: 17rem; }
  .modal-trailer {
    border: none;
    width: 61vw;
    height: 300px; } }

@media screen and (max-width: 780px) {
  .header-container {
    width: 100%;
    height: 12rem; }
  .app {
    flex-direction: column; }
  .modal-trailer {
    border: none;
    width: 73vw;
    height: 350px; }
  .modal {
    position: absolute;
    top: 20rem;
    left: 6rem; } }

@media screen and (max-width: 680px) {
  .modal {
    position: absolute;
    top: 20rem;
    left: 5rem; }
  .modal-trailer {
    border: none;
    width: 70vw;
    height: 350px; } }
